@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        display: "block";
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}